<div class="pet-form">
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :pet_image%>
  </div>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>

  <div class="form-group">
    <%= f.label :bio %><br>
    <%= f.text_area :bio%>
  </div>


  <div class="form-group">

    <%= f.label :adoptable %> <br>
    <%= f.label :adoptable, "Yes", :value => "true"  %>
    <%= f.radio_button :adoptable, true %>
    <%= f.label :adoptable, "No", :value => "false" %>
    <%= f.radio_button :adoptable, false, :checked => true %>
  </div>

  <div class="form-group" id="price">
    <%= f.label :price%><br>
    <%= f.number_field :price %>
  </div>

    
  <div class="form-group">
    <%= f.label :Breed %><br>
    <%= f.collection_check_boxes :breed_ids, Breed.all, :id, :name %>
  </div>


  <div class ="form-group">
    <p>Or create a new breed</p>

    <%= f.fields_for :breeds, @pet.breeds.build do |breed_fields| %>
      <%= breed_fields.text_field :name %>
    <% end %>
  </div>
</div>


<div id="petResult">
  <img id="petImage">
  <h1 id="petName"></h2>
  <h3 id="userName"></h3>
  <h3 id="petBio"></h3>
</div>

<!-- Hiding the price box -->
 <script type="text/javascript" charset="utf-8">
   $(function(){
    $("#price").hide();
     $('input[type=radio]').click(function(){
        if (this.id == "pet_adoptable_true")
          $("#price").show();
        if (this.id == 'pet_adoptable_false')
          $("#price").hide();
    }); 

    // $('form').submit(function(event) {
    //   //prevent form from submitting the default way
    //   event.preventDefault();
    //   debugger
    //   var values = $(this).serialize();

    //   $.post('/pets', values).done(function(data) {
    //     // TODO: handle response=
    //     var pet = data;
    //     console.log(pet)
    //     $("#petName").text(pet["name"]);
    //     $("#userName").text("Pet Owner:" + pet["user"]["first_name"] + " " + pet["user"]["last_name"])
    //     $("#petBio").text(pet["bio"]);
        
    //     $(".pet-form").hide();
    
    //   });
    // });

   })
 </script>

    
