<div id="pets-index">
  <div class="container">
    <h1> List of Available Pets </h1>
    <%= page_entries_info @pets %> <br>
    <%= paginate @pets %>

    <div class="list-group list-unstyled list-inline pet-list">
      <% @pets.all.each do |pet| %>
       <%=link_to pet_path(pet), class:"list-group-item pet-item", data:{:id => pet.id } do %>
        <%=pet.name%><br> 
        <%= image_tag pet.pet_image.url(:thumb) %>
      <%end%>
      <% end %>
    </div>
</div>

<script>
//what i would like to do is show only 2 more pets at a time whenever
//a show pets button is pressed. How could I do this?
 $(function() {
  $(document.body).off('click', 'nav.pagination a');
  $(document.body).on('click', 'nav.pagination a', function(e) {
    e.preventDefault();
    //var loadingHTML = "<div class='loading'>Loading...</div>";
    var petsIndex = $("#pets-index").html();
    $("#pets-index").html(petsIndex).load($(this).attr("href"));

    return false;
  });
});
  
</script>
</div>