<h1> Pet Name: <%=@pet.name%></h1>
<h2> Pet Owner: <%=@pet.user.id%></h2>
<h2> Pet Breed:</h2>
   <%@pet.breeds.each do  |b| %>
      <h3><%= b.name %></h3>
   <% end %>



<h2> Pet Bio: <%=@pet.bio %></h2>



<%if @pet.adoptable?%>
  Price:<%=@pet.price%>
  <%if @pet.user.id != current_user.id%>
    <%= button_to 'Adopt this pet', pets_adopt_path(id: @pet.id)%>
  <%end%>
<%end%>



<form method="get" action="/pets/adopt">
  <input type="submit" value="Back to List">
</form>


<%if @pet.user.id == current_user.id%>
  <form method="get" action="/pets/<%=@pet.id%>/edit">
    <input type = "submit" value="edit"%>
  </form>
<%end%>


<form method="post" action="/pets/<%=@pet.id%>/delete">
  <input type="submit" value="delete pet">
</form>
