

<h1> Welcome, <%=@user.first_name%></h1>

<div class= "container">
<h3> Here are the pets you own </h3> 

<ul class= "list-group list-unstyled list-inline pet-list">
<% @user.pets.each do |pet| %>
    <li class="list-group-item">
    <%=link_to pet.name , user_pet_path(@user, pet)%><br>
      <%= image_tag pet.pet_image.url(:thumb) %>
      </li>
  <% end %>
  </ul>
</div>


<div class="container">
  <%if @user.adoptable_pets %>
    <h3> Here are your pets for adoption </h3>

    <ul class = "list-group list-unstyled list-inline pet-list">  
      <% @user.adoptable_pets.each do |pet| %>
      
        <li class="list-group-item">
        <%= link_to pet.name, user_pet_path(@user,pet)%><br>
        <%= image_tag pet.pet_image.url(:thumb)%>
        
          
        </li>
    <%end%>
    </ul>
  <% end %>
</div>
  

<%if @user == current_user%>
  <%= button_to 'Create New Pet',  new_user_pet_path(@user), method: :get%>
  <%= button_to "Edit User", edit_user_registration_path, method: :get %>
<%end%>
