
<h1> Welcome, <%=@user.first_name%></h1>

<h3> Here are the pets you own </h3> 

<% @user.pets.each do |pet| %>
 <ul>
  <li><%=link_to pet.name , user_pet_path(@user, pet)%></li>
  </ul>
<% end %>


<%if @user.adoptable_pets %>
  <h3> Here are your pets for adoption </h3>

  <% @user.adoptable_pets.each do |pet| %>
    <ul>  
      <li><%= link_to pet.name, user_pet_path(@user,pet)%></li>
    </ul>
  <%end%>
<% end %>
  

<%if @user == current_user%>
  <%= button_to 'Create New Pet',  new_user_pet_path(@user), method: :get%>
  <%= button_to "Edit User", edit_user_registration_path, method: :get %>
<%end%>
