<div id= "users-show">

    

    <div class= "container">
    <h1> Welcome, <%=@user.first_name%></h1>
    <h3> Here are the pets you own </h3> 

    <div class= "list-group list-unstyled list-inline pet-list">
    <% @user.pets.each do |pet| %>
        <!-- Owned Pets Links-->
        <%=link_to user_pet_path(@user, pet), class:"list-group-item pet-item", data:{:id => pet.id} do %>
          <%=pet.name%><br> 
          <%= image_tag pet.pet_image.url(:thumb) %>
        <%end%>

      <% end %>
      </div>
    </div>


    <div class="container">
      <%if @user.adoptable_pets %>
        <h3> Here are your pets for adoption </h3>

        <div class = "list-group list-unstyled list-inline pet-list">  
          <% @user.adoptable_pets.each do |pet| %>
          
            <!-- Pet List Adoptable Links-->
            <div class ="wrapper">
            <%= link_to  user_pet_path(@user,pet), class: "list-group-item pet-item" do %>
               
                <%=pet.name%><br>
                <%= image_tag pet.pet_image.url(:thumb)%>
                </div>
            <%end%>
            </div>
            
        <%end%>
        </div>
      <% end %>
    </div>
      

      <!-- Create/Edit Buttons -->

    <div class = "container ">
      <%if @user == current_user%>
       <div style="float:left; padding:16px">
          <%= button_to 'Create New Pet',  new_user_pet_path(@user), method: :get, class: "btn btn-default btn-lg"%>
        </div>

        <div style="float:left; padding:16px">
          <%= button_to "Edit User", edit_user_registration_path, method: :get, class: "btn btn-default btn-lg" %>
        </div>
      <%end%>
    </div>
</div>